.teal-text.teal-hover:hover {
    color: white !important;
    background-color: #009688;
}

.btn-create-padding {
    padding-left: 20px;
    padding-right: 25px;
}

.btn-edit-padding {
    padding-right: 10px;
    padding-left: 5px;
}