.card-title {
    color: #009688 !important;
    font-size: 180% !important;
}

.card-title-padding {
    padding-left: 0 !important;
    padding-bottom: 20px !important;
    margin: 0;
}

.transparent-green {
    background-color: transparent;
    color: #009688;
}

.transparent-green:hover {
    color: white;
    background-color: #009688;
}

.icon-margin {
    margin-right: 5px !important;
}

.material-icons-line-heigth {
    line-height: 50px;
}

.btn-flat {
    padding: 0 20px 0 20px;
}

.btn-padding {
    padding-left: 20px;
    padding-right: 25px;
}

.btn-edit-padding {
    padding-right: 10px;
    padding-left: 5px;
}

*::-moz-placeholder {
    color: #666666;
}

.filled-in[type="checkbox"]:not(:checked) + label::after {
    border: 2px solid #bdbdbd !important;
}

label.has-error {
    color: red !important;
}

span.has-error {
    color: red !important;
    font-size: 0.8rem;
}

button.has-error {
    color: grey;
}

button.has-error.transparent-green:hover {
    color: grey;
    background-color: #FAFAFA;
}