body {
    background-color: #e0e0e0;
}

header, section {
    padding-left: 240px;
}

.container {
    width: 95%;
}

.card-content-padding {
    padding: 0 20px 0 20px !important;
}

li.li-no-hover:hover {
    background-color: #009688;
}

@media only screen and (max-width: 990px) {

    header, section {
        padding-left: 0;
    }

}

@media only screen and (max-width: 600px) {

    .brand-logo {
        line-height: 56px;
    }

    a.button-collapse.top-nav {
        height: 56px;
        line-height: 56px;
    }

}

.card-title {
    color: #009688 !important;
    font-size: 180% !important;
}

*::-moz-placeholder {
    color: #666666;
}

.label-radioButton{
    color: #009688 !important;
    font-size: 80% !important;
}

.modal{
    max-height: 90% !important;
}

#report-modal .row {
    margin-bottom: 10px;
}