.modal {
    max-height: 80% !important;
}

.modal-medium {
    width: 400px;
}

.modal-large {
    width: 600px;
}

.modal-content-padding {
    padding: 40px 40px 0 40px !important;
}

.modal-footer-padding {
    padding: 0px 40px !important;
}

.modal-card-title {
    text-align: center !important;
    padding-bottom: 20px !important;
    margin: 0;
}

.modal-input-field {
    width: 100% !important;
}

.modal-label {
}

.modal-label-select {
    margin-top: 15px;
}

.modal-label-date {
    margin-top: 5px;
}

.modal-label-radioButton {
}
