.modal-medium {
    width: 400px;
}

.modal-large {
    width: 600px;
}

.modal-content-padding {
    padding: 40px 40px 0 40px !important;
}

.modal-footer-padding {
    padding: 0px 40px 0px 40px !important;
}

.modal-card-title {
    color: #009688 !important;
    font-size: 180% !important;
    text-align: center !important;
    padding-bottom: 20px !important;
    margin: 0;
}

.modal-input-field {
    width: 100% !important;
}

.modal-label {
    color: #009688 !important;
    font-size: 120% !important;
    width: 100%
}
