.select-status .dropdown-content li{
    text-align: center !important; /* to center the elements in the select */
}

.select-status.select-wrapper {
    height: 100% !important;
}

.select-status.select-wrapper span.caret {
    color: white;
    position: absolute;
    right: 0px;
    top: 0px !important;
    font-size: 10px;
    height: 30px !important;
    line-height: 31px !important;
}

.select-status.select-wrapper input.select-dropdown {
    color: white !important;
    border-color: transparent !important; /* to remove the bottom border */
    text-align: center !important; /* to center the text horizontally */
    height: 100% !important; /* to center the text vertically */
    line-height: 100% !important; /* to center the text vertically */
}