/*
* This is a manifest file that'll be compiled into joblog.css, which will include all the files listed below.
*
*= require shared/button.css
*= require shared/has-error.css
*= require_self
*/

/*select {*/
    /*display: inherit;*/
/*}*/

.div-wrapper {
    padding: 30px 25px 30px 25px;
}

.divider {
    margin-bottom: 20px;
}

.label {
    text-align: center;
    margin: 0 !important;
    line-height: 45px !important;
    color: #1565c0 !important;
}