/*
* This is a manifest file that'll be compiled into main.css, which will include all the files listed below.
*
*= require vendor/materialize.min.css
*= require shared/main.css
*= require shared/navbar.css
*= require shared/modal.css
*= require_self
*/

.select-modal input.select-dropdown {
    color: #757575 !important;
    border-color: #bdbdbd !important;
    margin-bottom: 30px !important;
    line-height: 3rem !important;
}

.select-modal span.caret {
    top: 7px !important;
    color: #757575 !important;
}

.combodate select {
    display: inline;
    text-align: center;
    color: #009688;
    width: 20% !important;
}

.label-name {
    color: #009688 !important;
    font-size: 120% !important;
    padding-right: 40px;
}

#clientSelect {
    display: inline;
}

#projectSelect {
    display: inline;
}