/*
* This is a manifest file that'll be compiled into main.css, which will include all the files listed below.
*
*= require vendor/materialize-0.97.5.min.css
*= require shared/navbar.css
*= require shared/modal.css
*= require_self
*/

body {
    background-color: #e0e0e0;
}

header, section {
    padding-left: 240px;
}

li.li-no-hover:hover {
    background-color: #009688;
}

.container {
    width: 95%;
}

.card-content-padding {
    padding: 5px 20px 5px 20px !important;
}

/*.select-modal input.select-dropdown {*/
    /*color: #757575 !important;*/
    /*border-color: #bdbdbd !important;*/
    /*line-height: 3rem !important;*/
    /*text-align: center;*/
/*}*/

/*.select-modal span.caret {*/
    /*color: #757575 !important;*/
/*}*/

.combodate select {
    display: inline;
    text-align: center;
    color: #009688;
    width: 20% !important;
}

.card-title {
    font-size: 180% !important;
}

@media only screen and (max-width: 990px) {

    header, section {
        padding-left: 0;
    }

}

@media only screen and (max-width: 600px) {

    .brand-logo {
        line-height: 56px;
    }

    a.button-collapse.top-nav {
        height: 56px;
        line-height: 56px;
    }

}

.toast{
    color: white !important;
    background-color: #009688 !important;
}