header, section {
    padding-left: 240px;
}

.container {
    width: 95%;
}

a.button-collapse.top-nav {
    position: absolute;
    height: 64px;
    top: 0px;
    color: #FFF;
    font-size: 32px;
    line-height: 64px;
}

/* Para centrar el boton cerrar sesion */
#nav-botton-ul {
    padding-top: 13px;
}

#nav-botton-li {
    line-height: 0;
}

#side-nav {
    width: 240px;
}

#side-nav li {
    padding: 0;
}

#side-nav .row {
    margin-bottom: 0;
}

.user-panel {
    background-color: #009688;
}

.user-info {
    width: 240px;
    margin-left: 0;
}

.user-picture {
    padding-top: 10px;
    padding-left: 10px;
}

.user-data {
    padding: 10px 40px 10px 15px;
}

li.li-no-hover:hover {
    background-color: #009688;
}

@media only screen and (max-width: 990px) {

    header, section {
        padding-left: 0;
    }

}

@media only screen and (max-width: 600px) {

    .brand-logo {
        line-height: 56px;
    }

    a.button-collapse.top-nav {
        height: 56px;
        line-height: 56px;
    }

}