/*
* This is a manifest file that'll be compiled into person.css, which will include all the files listed below.
*
*= require shared/table.css
*= require shared/utils.css
*= require shared/status-select.css
*= require shared/button.css
*= require shared/has-error.css
*= require shared/modal.css
*= require_self
*/

#positionCreateSelect {
    display: inline;
}

#positionEditSelect {
    display: inline;
}

#hours, #edit_hours {
    display: inline;
}

.btn-edit-padding {
    padding: 0px 5px; /* To center the edit button */
}