/*
* This is a manifest file that'll be compiled into project.css, which will include all the files listed below.
*
*= require shared/table.css
*= require shared/utils.css
*= require shared/status-select.css
*= require shared/button.css
*= require shared/modal.css
*= require shared/has-error.css
*= require_self
*/

.select-modal input.select-dropdown {
    color: #757575 !important;
    border-color: #bdbdbd !important;
    /*margin-bottom: 30px !important;*/
    line-height: 3rem !important;
    text-align: center;
}

.select-modal span.caret {
    /*top: 7px !important;*/
    color: #757575 !important;
}

.combodate select {
    display: inline;
    text-align: center;
    color: #009688;
    width: 20% !important;
}

ul.dropdown-content {
    max-height: 150px !important;
}

ul.dropdown-content li span {
    text-align: center !important;
}