.width-5 {
    width: 5% !important;
}

.width-10 {
    width: 10% !important;
}

.width-15 {
    width: 15% !important;
}

.width-20 {
    width: 20% !important;
}

.width-25 {
    width: 25% !important;
}